<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>CrowdAnki-Diff</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/project'">Select Project</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

