<div>
  <app-header></app-header>
  <div class="row">
    <div class="col-md-8 col-lg-offset-2">
      <h1>Welcome to CrowdAnki-Diff</h1>
      <h2>What is CrowdAnki-Diff?</h2>
      <p>CrowdAnki-Diff is a tool, that makes diffing <a href="https://github.com/Stvad/CrowdAnki">CrowdAnki</a>-Decks easier. It is in a <b>VERY EARLY ALPHA STAGE</b>, so please expect, that everything could start burning and <b>ALWAYS</b> check your diffs manually as well!</p>
      <h2>How do I use it?</h2>
      <p>Currently only diffs of merge requests are supported. Go to /diff/your-project-id/merge-request-id to open the diff tool.</p>
      <h2>A button is not working. What do I do?</h2>
      <p>Most likely that is normal. If it's not, submit an issue in our public <a href="https://gitlab.com/dodod/crowdanki-diff/issues">git repository</a>.</p>
      <h2>I want to help you!</h2>
      <p>That's nice of you! Look at the <a href="https://gitlab.com/dodod/crowdanki-diff/issues"></a> marked with <i>Pull Requests welcome</i>, write us a comment that you want to work on it and become an awesome human being!</p>
      <h2>This is what CrowdAnki-Diff HQ looks like:</h2>
      <img src="https://media.giphy.com/media/UKF08uKqWch0Y/giphy.gif"><br>
      But it's very cool anyways!
    </div>
  </div>
</div>
