@import 'src/variables';
.row {
  width: 100%;
  min-height: 2rem;
  margin: 0.3rem;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
  }
  &.changes {
    background-color: $changedColor;
  }
  &:active {
    transform: scale(1.025);
  }
  &.selected {
    box-sizing: border-box;
    border: 3px solid $selectedColor;
    transform: scaleX(1.04);
  }
  .col-md-6 {
    padding: 0;
    .column {
      padding: 0.5rem;
      text-align: center;
      &.created {
        background-color: $createdColor;
      }
      &.deleted {
        background-color: $deletedColor;
      }
    }
  }
}
