<h1 mat-dialog-title>Authenticate</h1>
<div mat-dialog-content>
  <p>Please authenticate with a gitlab access token (needs to have <code>api</code> and <code>read_repository</code>)</p>
  <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
    <mat-form-field>
      <input matInput formControlName="authToken" placeholder="access token">
    </mat-form-field>
    <small *ngIf="authForm.invalid && authForm.dirty" class="error">The access token is required</small>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSubmit()">Ok</button>
</div>
