<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{title}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div *ngIf="!note">
        <span>There is nothing here</span>
      </div>

      <div *ngIf="note">
        <div class="row">
          <div class="col-md-12">
            <code *ngIf="showingSource" [highlight]="note.fields[0] | beautifyHtml"></code>
            <app-field-preview
              [field]="note.fields[0]"
              [commitId]="commitId"
              [deckPath]="deckPath"
              *ngIf="!showingSource"
            ></app-field-preview>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-md-12">
            <code *ngIf="showingSource" [highlight]="note.fields[1] | beautifyHtml"></code>
            <app-field-preview
              [field]="note.fields[1]"
              [commitId]="commitId"
              [deckPath]="deckPath"
              *ngIf="!showingSource"></app-field-preview>
          </div>
        </div>
        <mat-divider *ngIf="note.tags.length > 0"></mat-divider>
        <div class="row" *ngIf="note.tags.length > 0">
          <div class="col-md-12 tags">
            Tags: <code [highlight]="note.tags.join(',\n')"></code>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>

    </mat-card-content>
    <mat-card-actions *ngIf="note">
      <button mat-button (click)="toggleSourcePreview()">Toggle Source/Preview</button>
    </mat-card-actions>
  </mat-card>
</div>
